:root {
    --cor-principal: rgb(63, 63, 63);
  }


body {
    background-color: var(--cor-principal);
}
/*header*/
/* .container {
    display: flex;
    margin-top: 100px;
    border: 1px solid red;
    color: white;
    align-items: center;
    gap: 15px;
} */



.img_logo {
    border-radius: 50px;
    width: 5rem;
    margin-right: 1rem;
    border: 2px solid white;
}
.img_logo:hover {
    filter: brightness(120%);
}

.titulo {
    color: rgb(255, 255, 255);
    display: flex;
    /* border: 1px solid red; */
    margin-top: 100px;
    border-radius: 5px;
    width:90%;
    gap: 20px;
    align-items: center;
    font-weight: bold;
    font-family: Oswald;
}

.titulo h1 {
    text-shadow: 5px 5px 3px black;
}

.container2 {
    font-size: 24px;
    font-weight: bold;
}
.navbar {
    background-color: rgb(0, 0, 0);
}
.navbar-toggler {
    background-color: rgb(255, 255, 255) !important;
}
.dropdown-menu{
    background-color: rgb(0, 0, 0) !important;
}
.manga::after {
    content: "MANGA";
    font-size: 20px;
    color: white;
    background-color: green;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 1px 2px 5px black;
}
.manhaw::after {
    content: "MANHAW";
    font-size: 20px;
    color: white;
    background-color: rgb(209, 0, 0);
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 1px 2px 5px black;
}
.nav-item .nav-link{
    color: rgb(255, 255, 255) !important;
}
.nav-item .nav-link:hover {
    filter: brightness(80%);
}
.navbar-brand {
    color: white !important;
    font-size: 25px;
}
.navbar-brand:hover {
    filter: brightness(80%);
}
.dropdown-menu {
    border: none;
}
.dropdown-item {
    color: white !important;
    font-weight: bold;
}
.dropdown-item:hover {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}

@media (max-width: 410px) {
    .container .titulo{
        font-size: 25px;
    }
}
/*corpo*/
.box {
    display: flex;
    /* border: 1px solid red; */
    margin-top: 20px;
    border-radius: 5px;
    width: 90%;
    gap: 50px;
}
.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.382);
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}
.img-fluid {
    border-radius: 5px;
    width: 300px;
}
.box2 {
    /* border: 1px solid rebeccapurple; */
    background-color: rgba(0, 0, 0, 0.382);
    border-radius: 5px;
    font-size: 19px;
    width: 1000px;
    padding: 0.10rem;
    box-shadow: 5px 5px 5px black;
}
.table {
    color: rgb(255, 255, 255);
}
.tag_sinpose {
    border: 1px solid forestgreen;
    width: 0px !important;
}

.sinopse {
    /* border: 1px solid red !important; */
    display: flex;
    justify-content: start !important;
    flex-wrap: wrap;
    width: 850px !important;
    padding: 0px !important;

}
.text_sin {
    margin-right: 1px;
}
@media (max-width: 1000px) {
    .box {
        display: flex;
        flex-wrap: wrap;
    }
}

.box3 {
    margin-top: 70px;
    /* border: 1px solid wheat; */
    text-decoration: none;
    gap: 35px;
}
.capitulo {
    transition: all 0.5s;
    box-shadow: 2px 4px 2px white;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    text-decoration: none !important;
    color: white;
    width: 23rem;
    height: 100px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.735);
    border-radius: 10px;
}
.capitulo:hover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 2px rgb(0, 0, 0);
}
a:link {
    color: rgb(255, 255, 255);
 }
 
 /* link que foi visitado */
 a:visited {
     /* color: green; */
 }
 
 /* mouse over */
 a:hover {
     color: #000000;
 }
 
 /* link selecionado */
 a:active {
     color: rgb(255, 0, 0);
 }

 a h1 {
    font-size: 30px;
    font-weight: bold;
 }

.titulos{
    /* border: 1px solid red !important; */
    /* width: 100rem !important; */
}


.titulo_data {
    /* border: 1px solid green; */
    align-items: center;
    justify-content: center;
}

.titulo_data h3 {
    font-size: 20px;
}
/*botões de generos*/
.generos {
    /* border: 1px solid red !important; */
    display: flex !important;
    flex-wrap: wrap !important;
    width: 870px;
    gap: 0.70rem;
}
.genero {
    display: flex;
    font-size: 17px;
    transition: all 0.5s;
    background-color: black;
    font-weight: bold;
    border-radius: 10px 0px;
    box-shadow: 2px 3px 1px rgb(255, 255, 255);
    /* width: 6.25rem; */
    height: 1.56rem;
    padding: 1rem 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.genero:hover {
    text-decoration: none;
    background-color: white;
    text-decoration: none;
    box-shadow: 5px 4px 1px rgb(0, 0, 0);
    border-radius: 5px 0px;
}

/*resposividade*/
@media(max-width:1200px) {
    .titulo {
        align-items: center;
        width:400px;
    }
    .titulo h1 {
        font-size: 15px;
        margin-bottom: 0px;
    }
    .manga::after {
        content: "MANGA";
        font-size: 15px;
        color: white;
        background-color: green;
        padding: 4px;
        border-radius: 4px;
        font-weight: bold;
    }

    .generos {
        /* border: 1px solid red !important; */
        display: flex !important;
        flex-wrap: wrap !important;
        width: 300px;
        gap: 0.70rem;
    }
}
@media(max-width:900px) {
    
}

.banner img {
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    filter: blur(30px) brightness(90%);
}
.banner .faixa {
    position: absolute;
    width: 100%;
    border: 30px solid var(--cor-principal);
    transform: translate(0rem, 27rem);
    z-index: -1;
}