@media(max-width:1200px) {
    /* Estilos para a imagem sobreposta */
    .overlay-image {
        bottom: 0px;
        right: 20px;
        /* Ajuste a direita para inclinar */
        max-width: 350px;
        /* Largura desejada */
        height: auto;
        /* Altura automática para manter a proporção */
        border-radius: 10px;
        /* Bordas arredondadas */
        transform: rotate(0deg);
    }

    .Sinopse_manga {
        width: 650px;
    }
}

@media(max-width:1118px) {
    /* Estilos para a imagem sobreposta */
    .overlay-image {
        bottom: 40px;
        right: 20px;
        /* Ajuste a direita para inclinar */
        max-width: 300px;
        /* Largura desejada */
        height: auto;
        /* Altura automática para manter a proporção */
        border-radius: 10px;
        /* Bordas arredondadas */
        transform: rotate(0deg);
    }

    .Sinopse_manga {
        width: 600px;
    }
}

@media(max-width:999px) {
    /* Estilos para a imagem sobreposta */
    .overlay-image {
        bottom: 60px;
        right: 20px;
        /* Ajuste a direita para inclinar */
        max-width: 280px;
        /* Largura desejada */
        height: auto;
        /* Altura automática para manter a proporção */
        border-radius: 10px;
        /* Bordas arredondadas */
        transform: rotate(0deg);
    }

    .Sinopse_manga {
        width: 550px;
    }
}

@media(max-width:914px) {
    /* Estilos para a imagem sobreposta */
    .overlay-image {
        bottom: 60px;
        right: 20px;
        /* Ajuste a direita para inclinar */
        max-width: 250px;
        /* Largura desejada */
        height: auto;
        /* Altura automática para manter a proporção */
        border-radius: 10px;
        /* Bordas arredondadas */
        transform: rotate(0deg);
    }

    .Sinopse_manga {
        width: 450px;
    }
}

@media(max-width:768px) {
    .manga-info {
        font-size: 15px !important;
        transform: translateY(-30%);
    }
    .carousel-item img {
        max-height: 450px;
        object-fit: cover;
      }
    .manga-info h3 {
        /* border: 1px solid red; */
        max-width: 300px;
        font-size: 28px;
      }
    /* Estilos para a imagem sobreposta */
    .overlay-image {
        bottom: 100px;
        right: 30px;
        /* Ajuste a direita para inclinar */
        max-width: 200px;
        /* Largura desejada */
        height: auto;
        /* Altura automática para manter a proporção */
        border-radius: 10px;
        /* Bordas arredondadas */
        transform: rotate(0deg);
        margin-left: 2rem;
    }

    .Sinopse_manga {
        width: 400px;
    }

    /* .btn-go-to-manga {
        display: none;
    } */
    .generos {
        display: none;
    }
}

@media(max-width:712px) {
    .manga-info {
        font-size: 15px !important;
    }
    .manga-info h3 {
        font-size: 25px;
    }
    /* Estilos para a imagem sobreposta */
    .overlay-image {
        bottom: 100px;
        right: 30px;
        /* Ajuste a direita para inclinar */
        max-width: 150px;
        /* Largura desejada */
        height: auto;
        /* Altura automática para manter a proporção */
        border-radius: 10px;
        /* Bordas arredondadas */
        transform: rotate(0deg);
        margin-left: 2rem;
    }

    .Sinopse_manga {
        width: 400px;
        font-size: 16px !important;
    }

    /* .btn-go-to-manga {
        display: none;
    } */
    .generos {
        display: none;
    }
    .carousel-item img {
        max-height: 400px;
        object-fit: cover;
      }
}

@media(max-width:658px) {
    .manga-info {
        font-size: 15px !important;
        transform: translateY(-20%);
    }

    .capitulo_atual {
        display: none;
    }

    .manga-info h3 {
        font-size: 25px;
        
    }
    /* Estilos para a imagem sobreposta */
    .overlay-image {
        bottom: 100px;
        right: 30px;
        /* Ajuste a direita para inclinar */
        max-width: 150px;
        /* Largura desejada */
        height: auto;
        /* Altura automática para manter a proporção */
        border-radius: 10px;
        /* Bordas arredondadas */
        transform: rotate(0deg);
        margin-left: 2rem;
    }

    .Sinopse_manga {
        width: 300px;
        font-size: 16px !important;
    }

    /* .btn-go-to-manga {
        display: none;
    } */
    .generos {
        display: none;
    }
    .carousel-item img {
        max-height: 400px;
        object-fit: cover;
      }
}

@media(max-width:570px) {
    .carousel-inner {
        border: 1px solid red;
    }

    .manga-info {
        font-size: 15px !important;
        transform: translateY(-20%);
    }

    .capitulo_atual {
        display: none;
    }

    .manga-info h3 {
        font-size: 25px;
        
    }
    /* Estilos para a imagem sobreposta */
    .overlay-image {
        bottom: 100px;
        right: 30px;
        /* Ajuste a direita para inclinar */
        max-width: 150px;
        /* Largura desejada */
        height: auto;
        /* Altura automática para manter a proporção */
        border-radius: 10px;
        /* Bordas arredondadas */
        transform: rotate(0deg);
        margin-left: 2rem;
    }

    .Sinopse_manga {
        width: 300px;
        font-size: 16px !important;
    }

    /* .btn-go-to-manga {
        display: none;
    } */
    .generos {
        display: none;
    }
    .carousel-item img {
        max-height: 400px;
        object-fit: cover;
      }
}


@media(min-width: 2560px) {

    /*SLIDER 1*/
    .carousel-item .carousel-banner {
        height: 100vh;
        width: 100%;
        filter: blur(10px) brightness(50%);
    }

    .carousel-item .carousel-img {
        /* border: 1px solid black; */
        width: 50rem;
        position: absolute;
        z-index: 10;
        transform: translate(160%, -7%) rotate(10deg);
        filter: brightness(90%);
    }

    #mainSlider .carousel-inner,
    #mainSlider .carousel-item {
        border: 2px solid red;
        height: 70vh;
    }

    /*DIV QUE MOSTRA O NOME  OS GENEROS DO MANGA DO CARROSEL ITEM*/
    .carousel-caption {
        /* border: 1px solid green; */
        display: flex;
        flex-wrap: wrap;
        width: 55rem;
        margin-left: -12rem;
        gap: 1rem;
        transform: translateY(-30%);
        padding: 0;
    }

    .carousel-caption h1 {
        /* border: 2px solid green; */
        display: flex;
        flex-wrap: wrap;
        text-align: start;
        padding: 0;
        font-size: 40px;
        font-weight: bold;
    }

    .carousel-caption h2 {
        /* border: 1px solid lawngreen; */
        text-align: start;
        font-size: 28px;
    }

    .generos {
        /* border: 2px solid skyblue; */
        display: flex;
        flex-wrap: wrap;
        gap: 1.20rem;
        width: 100%;
        font-size: 25px;
        font-weight: bold;
    }

    .generos a {
        transition: all 0.5s;
        color: white;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        padding: 0.10rem 0.90rem;
    }

    .generos a:hover {
        text-decoration: none;
        background-color: white;
        color: black;
    }

    .botao-manga {
        /* border: 1px solid blue; */
        transition: all 0.5s;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        width: 15rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        box-shadow: 5px 5px 5px black;
    }

    .botao-manga:hover {
        text-decoration: none;
        transform: scale(1.1);
    }

    .botao-manga img {
        width: 4rem;
        height: 4rem;
    }

    .botao-manga span {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 26px;
    }

    /*botao de ir para o manga========================*/

    /*===============================*/
    .carousel-indicators li {
        opacity: 1 !important;
        background-color: rgb(255, 255, 255);
        width: 19px;
        height: 19px;
        border-radius: 50%;
    }

    .carousel-indicators .active {
        background-color: rgb(0, 255, 255);
    }

}