 body {
    background-color: rgb(242, 241, 241);
    overflow-x: hidden;
}
/* .corpo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} */
/* .titulo {
    color: white;
    display: flex;
    margin-top: 100px;
    border-radius: 5px;
    width: 90%;
    gap: 20px;
    align-items: center;
} */
.container2 {
    font-size: 24px;
    font-weight: bold;
}
.navbar-toggler {
    background-color: white;
}
.nav-item .nav-link{
    color: rgb(255, 255, 255) !important;
}
.nav-item .nav-link:hover {
    color: aquamarine !important;
}
.navbar-brand {
    color: white !important;
    font-size: 25px;
}
.navbar-brand:hover {
    color: aquamarine !important;
}
.dropdown-menu {
    border: none;
}
.dropdown-item {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
}
.dropdown-item:hover {
    background-color: rgb(0, 0, 0) !important;
}

.icon_busca {
    height: 22px;
    width: 30px;
}
.btn {
    border: 1px solid white;
    background-color: white;
}
.btn:hover {
    background-color: white;
}
.logo {
    width: 70px;
}

/*slider do cabeçalho*/
 .container-fluid {
    padding: 0;
    margin-bottom: 10px;
}
.carousel-item .carousel-banner {
    height: 100vh;
    width: 100%;
    filter: blur(10px) brightness(50%);
}
.carousel-item .carousel-img {
  /* border: 1px solid black; */
  width: 34rem;
  position: absolute;
  z-index: 10;
  transform: translate(160%, -7%) rotate(10deg);
  filter: brightness(90%);
}
#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 70vh;
}
/*DIV QUE MOSTRA O NOME  OS GENEROS DO MANGA DO CARROSEL ITEM*/
.carousel-caption {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  width: 38rem;
  margin-left: -12rem;
  gap: 1rem;
  transform: translateY(-30%);
  padding: 0;
}
.carousel-caption h1 {
  /* border: 2px solid green; */
  display: flex;
  text-align: start;
  padding: 0;
  font-size: 28px;
  font-weight: bold;
}
.carousel-caption h2 {
  /* border: 1px solid lawngreen; */
  text-align: start;
  font-size: 18px;
}
.generos {
  /* border: 2px solid skyblue; */
  display: flex;
  flex-wrap: wrap;
  gap: 0.50rem;
  width: 100%;
}

.generos a {
  transition: all 0.5s;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  padding: 0.10rem 0.50rem;
}
.generos a:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}
.botao-manga {
  /* border: 1px solid blue; */
  transition: all 0.5s;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 11rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 5px 5px 5px black;
}
.botao-manga:hover {
  text-decoration: none;
  transform: scale(1.1);
}
.botao-manga img {
  width: 3rem;
  height: 3rem;
}
.botao-manga span {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
/*botao de ir para o manga========================*/

/*===============================*/
.carousel-indicators li {
    opacity: 1 !important;
    background-color: rgb(255, 255, 255);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.carousel-indicators .active {
    background-color: rgb(0, 255, 255);
}

.sr-only {
    background-color: black;
    border: 1px solid red;
}

.carousel-control-next, .carousel-control-prev {
    transition: all 0.5s;
    opacity: 1 !important;
}

.carousel-control-next:hover {
    transform: scale(1.2);
}
.carousel-control-prev:hover {
    transform: scale(1.2);
} 
/*slider 02 principais manhaws --========================================*/
/* section {
    position: relative;
    height: 900px;
    width: 95%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container {
    border: 1px solid red;
  }
   */
  .swiper {
    width: 2100px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.166);
    border: 2px solid rgba(73, 73, 73, 0.31);
    border-top: 6px solid rgb(73, 73, 73);
    background-color: white;
  }
  
  .card {
    position: relative;
    border-radius: 10px;
    overflow: hidden !important;
    height: 400px;
    width: 200px !important;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
  }
  
  .image {
    height: 300px;
    width: 200px;
    cursor: pointer;
    overflow: hidden !important;
    border: 4px solid rgba(0, 0, 0, 0.145);
    padding: 0px;
    border-radius: 10px;
    /* box-shadow: 5px 2px 2px black; */
  }
  
  section .card .image img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all 0.4s;
    opacity: 100%;
    border: 1px solid white;
  }
  
  section .card .image img:hover {
    transform: scale(1.03);
    opacity: 100%;
  }
  
  .swiper-pagination {
    position: absolute;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0.7;
    color: rgb(13, 255, 0);
    transition: all 0.3s ease;
  }
  
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    transform: scale(1.3);
  }
  
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    opacity: 1;
    color: #ffffff;
  }
  
  /* .titulo {
    position: absolute;
    margin-top: 40px;
    width: 600px;
    text-align: center;
  }
  
  h1 {
    font-weight: bold;
    font-family: Oswald;
    color: white;
    font-size: 50px;
  } */
  
  /* .titulo-slider01 {
    background-color: rgb(73, 73, 73);
    font-size: 40px;
    padding: 15px;
    border-radius: 0px 20px 0px 20px;
  } */
  
  .swiper-wrapper {
    /* border: 1px solid red; */
    padding: 15px !important;
  }
  
  /* .slide2_nome {
    display: flex;
    width: 94%;
    height: 17%;
    text-align: center;
    border: 1px solid white;
    color: white;
    background-color: rgb(31, 31, 31);
    font-weight: 300;
    border-radius: 15px 15px 1px 15px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    font-family: Oswald;
    line-height: 22px;
  } */