:root {
  /*navbar*/
  --navbar-font_size: 18px;
  --navbar-dropdown-item-font-size: 14px;
  --icone-logo-width: 3rem;
}
 
 body {
   background-color: rgb(242, 241, 241);
   overflow-x: hidden;
   font-family: poppins, sans-serif;
 }


body::-webkit-scrollbar {
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
  border-radius: 5px;
}
/*CABECALHO*/
.img_logo {
  border-radius: 50px;
  width: var(--icone-logo-width);
  margin-right: 1rem;
  border: 2px solid white;
}

.img_logo:hover {
  filter: brightness(120%);
}



.cabecalho {
  font-size: 20px !important;
  font-weight: bold !important;
  width: 100vw;
}

.navbar {
  background-color: rgb(0, 0, 0);
  font-size: var(--navbar-font_size);
}

.navbar-toggler {
  background-color: rgb(255, 255, 255) !important;
}

.dropdown-menu {
  background-color: rgb(0, 0, 0) !important;
}



.nav-item .nav-link {
  color: rgb(255, 255, 255) !important;
}

.nav-item .nav-link:hover {
  color: red !important;
}

.navbar-brand {
  color: rgb(255, 255, 255) !important;
  font-size: var(--navbar-font_size);
}



.navbar-brand:hover {
  color: red !important;
}

.dropdown-menu {
  border: none;
}

.dropdown-item {
  color: white !important;
  font-weight: bold;
  border-bottom: 1px solid rgba(128, 128, 128, 0.481);
  font-size: var(--navbar-dropdown-item-font-size);
  padding: 0.50rem;
}
.dropdown-item.ultimo_item {
  border-bottom: none;
  margin-bottom: -7px;
}

.dropdown-item:hover {
  background-color: rgb(255, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
}

/* CSS para mostrar dropdown ao passar o mouse */
.hover-dropdown:hover .dropdown-menu {
  display: block;
  overflow: hidden;
}



a {
  text-decoration: none !important;
}


 /*SLIDER DO CABEÇALHO ==============================*/
/* Estilos adicionais para o slider */
.carousel-cabecalho {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}
.carousel-item .img_banner {
  filter: blur(10px) brightness(40%);
}
/* Estilos para os bullets */
.carousel-indicators {
  bottom: 10px;
}



.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.carousel-indicators .active {
  background-color: #fff;
}
/* Estilos para as informações do mangá */
.manga-info {
  /* border: 1px solid green; */
  position: absolute;
  bottom: 20px;
  /* top: 1px; */
  left: 20px;
  color: #fff;
  transform: translateY(-45%);
}
.manga-info h3 {
  /* border: 1px solid red; */
  max-width: 500px;
  font-size: 28px;
  margin-bottom: 10px;
  font-family: Oswald;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.manga-info p {
  font-size: 18px;
  margin-bottom: 10px;
}
.btn-go-to-manga {
  background-color: #fff;
  color: #000;
  font-family: Oswald;
  font-weight: bold;
  font-size: 18px;
}

.Sinopse_manga {
  /* border: 1px solid red; */
  max-width: 700px;
  max-height: 500px;
  overflow: hidden !important;
  cursor: pointer;
}


/* Estilos para a imagem sobreposta */
.overlay-image {
  position: absolute;
  bottom: 0px;
  right: 20px; /* Ajuste a direita para inclinar */
  max-width: 400px; /* Largura desejada */
  height: auto; /* Altura automática para manter a proporção */
  border-radius: 10px; /* Bordas arredondadas */
  transform: rotate(5deg); /* Inclinação da imagem */
  z-index: 1; /* Colocar a imagem sobreposta acima do texto */
}



 /*botao de ir para o manga========================*/

 /*===============================*/
 .carousel-indicators li {
   opacity: 1 !important;
   background-color: rgb(255, 255, 255);
   width: 12px;
   height: 12px;
   border-radius: 50%;
 }

 .carousel-indicators .active {
   background-color: rgb(0, 255, 255);
 }

 .sr-only {
   background-color: black;
   border: 1px solid red;
 }

 .carousel-control-next,
 .carousel-control-prev {
   transition: all 0.5s;
   opacity: 1 !important;
 }

 .carousel-control-next:hover {
   transform: scale(1.2);
 }

 .carousel-control-prev:hover {
   transform: scale(1.2);
 }

 /*slider 02 principais manhaws --========================================*/
 /*CARROCEL Owl*/

.carrocel_de_mangas {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #000000c0,black, #000000 50%,black, #000000c4);
  height: 450px;
  margin-bottom: 10rem;
}

.ler_mangas {
  /* border: 1px solid red; */
  display: flex;
  background: linear-gradient(to right, #0000,black, #000000 50%,black, #0000);
  font-family: Anta;
  font-weight: bold;
  color: white;
  justify-content: center;
  padding: 0.50rem;
  cursor: default;

}
.ler_mangas h1 {
  margin: 0;
}

.mangas_para_ler {
  /* border: 2px solid green; */
  width: 95%;
  overflow: hidden;
}

.owl-dots {
  display: none;
}

.custom-nav {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: end;
  padding-right: 2.30rem;
}

.custom-nav button {
  background-color: transparent;
  border: none;
  /* filter: invert(); */
  font-family: Oswald;
}

.custom-nav button img {
  width: 130%;
}

.item_manga {
  /* border: 1px solid white; */
}

.item_manga a {
  text-decoration: none;
}

.item_manga a:hover {
  color: white;
}

.manga_image {
  transition: all 0.5s;
  overflow: hidden;
  /* border: 1px solid rgb(255, 0, 0); */
  height: 370px;
}

.manga_image img {

  transition: all 0.5s;
  height: 100%;
}

.manga_image img:hover {
  filter: brightness(110%) saturate(120%);
}


.item_manga h1 {
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}


.manhwa_carrocel::after {
  content: "MANHWA";
  position: absolute;
  font-size: 12px;
  color: white;
  background-color: rgb(209, 0, 0);
  padding: 5px;
  border-radius: 0px 0px 4px 0px;
  font-weight: bold;
  box-shadow: 1px 2px 5px black;
  z-index: 100;
}
.manhua_carrocel::after {
  content: "MANHUA";
  position: absolute;
  font-size: 12px;
  color: white;
  background: rgb(0, 123, 104);
  padding: 5px;
  border-radius: 0px 0px 4px 0px;
  font-weight: bold;
  box-shadow: 1px 2px 5px black;
  z-index: 100;
}
.manga_carrocel::after {
  content: "MANGA";
  position: absolute;
  font-size: 12px;
  color: white;
  background: rgb(0, 143, 2);
  padding: 5px;
  border-radius: 0px 0px 4px 0px;
  font-weight: bold;
  box-shadow: 1px 2px 5px black;
  z-index: 100;
}


.owl-carousel a .ep {
  font: 400 14px Oswald;
  position: absolute;
  bottom: 40px;
  right: 9px;
  color: #fff;
  background: #670000;
  padding: 2px 10px 2px 10px;
  border-radius: 2px;
  border-radius: 5px;
}
 
.book_png {
  transition: all 0.5s;
  /* border: 1px solid red; */
  position: absolute;
  height: 93%;
  width: 100%;
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.212);
  opacity: 0;
}
.book_png:hover {
  opacity: 1;
}
.book_png img {
  width: 100px;
  filter: invert();
}

 /*=========================================================*/