@font-face {
    font-family: Oswald;
    src: url(../../../fontes/Oswald/Oswald-VariableFont_wght.ttf);
  }

@font-face {
    font-family: Oswald-semiBold;
    src: url(../../../fontes/Oswald/Oswald-SemiBold.ttf);
}

@font-face {
    font-family: Oswald-Bold;
    src: url(../../../fontes/Oswald/Oswald-Bold.ttf);
}


@font-face {
    font-family: Oswald-Regular;
    src: url(../../../fontes/Oswald/Oswald-Regular.ttf);
}

@font-face {
    font-family: Oswald-Medium;
    src: url(../../../fontes/Oswald/Oswald-Medium.ttf);
}

@font-face {
    font-family: Oswald-ExtraLight;
    src: url(../../../fontes/Oswald/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: Oswald-Light;
    src: url(../../../fontes/Oswald/Oswald-Light.ttf);
}

