@media(max-width:1200px) {
    #nome_manga {
        /* border: 1px solid red; */
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        text-shadow: 2px 2px 2px black;
      }
      
      .titulo2 {
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-family: Oswald;
        font-weight: bold;
        color: #ffffff;
        border-bottom: 0px solid #ff5e75;
        text-align: center;
        background: var(--faixa-gradient-mangas-color);
        padding: 0.20rem;
      }
}

