body {
    background-color: rgb(144, 144, 144);
}

.img_logo {
    border-radius: 50px;
    width: 5rem;
    margin-right: 1rem;
    border: 2px solid white;
}

.img_logo:hover {
    filter: brightness(120%);
}

.titulo {
    color: white;
    display: flex;
    margin-top: 100px;
    border-radius: 5px;
    width: 90%;
    gap: 20px;
    align-items: center;
}

.container2 {
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    background-color: rgb(0, 0, 0);
}

.navbar-toggler {
    background-color: rgb(255, 255, 255) !important;
}

.dropdown-menu {
    background-color: rgb(0, 0, 0) !important;
}

.manga::after {
    content: "MANGA";
    font-size: 20px;
    color: white;
    background-color: green;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}

.manhaw::after {
    content: "MANHAW";
    font-size: 20px;
    color: white;
    background-color: rgb(209, 0, 0);
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}

.nav-item .nav-link {
    color: rgb(255, 255, 255) !important;
}

.nav-item .nav-link:hover {
    filter: brightness(80%);
}

.navbar-brand {
    color: white !important;
    font-size: 25px;
}

.navbar-brand:hover {
    filter: brightness(80%);
}

.dropdown-menu {
    border: none;
}

.dropdown-item {
    color: white !important;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}

.box {
    display: flex;
    margin-top: 20px;
    border-radius: 5px;
    width: 90%;
    gap: 50px;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.382);
    border-radius: 5px;
}

.img-fluid {
    border-radius: 5px;
    width: 300px;
}

.box2 {
    background-color: rgba(0, 0, 0, 0.382);
    border-radius: 5px;
    font-size: 19px;
    width: 1000px;
    padding: 0.10rem;
}

.table {
    color: white;
}

.sinopse {
    display: flex;
    width: 850px !important;
    padding: 0px !important;
}

.box3 {
    margin-top: 70px;
    text-decoration: none;
    gap: 35px;
}

.capitulo {
    transition: all 0.5s;
    box-shadow: 2px 4px 2px white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    text-decoration: none !important;
    color: white;
    width: 23rem;
    height: 100px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.735);
    border-radius: 10px;
}

.capitulo:hover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 2px rgb(0, 0, 0);
}

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    /* color: green; */
}

a:hover {
    color: #000000;
}

a:active {
    color: rgb(255, 0, 0);
}

a h1 {
    font-size: 30px;
    font-weight: bold;
}

.titulos {
    width: 200px !important;
}

.titulo_data {
    align-items: center;
    justify-content: center;
}

.titulo_data h3 {
    font-size: 20px;
}

.generos {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 870px;
    gap: 0.70rem;
}

.genero {
    font-size: 17px;
    transition: all 0.5s;
    background-color: black;
    font-weight: bold;
    border-radius: 10px 0px;
    box-shadow: 2px 3px 1px rgb(255, 255, 255);
    width: 6.25rem;
    height: 1.56rem;
    text-align: center;
    align-items: center;
}

.genero:hover {
    text-decoration: none;
    background-color: white;
    text-decoration: none;
    box-shadow: 5px 4px 1px rgb(0, 0, 0);
    border-radius: 5px 0px;
}

@media (max-width: 410px) {
    .container .titulo {
        font-size: 25px;
    }
}

@media (max-width: 1000px) {
    .box {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {
    .titulo {
        align-items: center;
        width: 400px;
    }

    .titulo h1 {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .manga::after {
        content: "MANGA";
        font-size: 15px;
        color: white;
        background-color: green;
        padding: 4px;
        border-radius: 4px;
        font-weight: bold;
    }

    .generos {
        display: flex !important;
        flex-wrap: wrap !important;
        width: 300px;
        gap: 0.70rem;
    }
}

@media (max-width: 900px) {
    .titulo {
        width: 100%;
    }
}